@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
padding:0;
margin:0;
font-family: 'Poppins', sans-serif;
}

.header {
    background-color: #816797;
    box-shadow: 0 1px 1px #ccc;
    padding: 20px 40px;
    height: 80px;
    color: #ffffff;
    box-sizing: border-box;
    transition: top 0.3s;
  }
  
  .header .header-limiter {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
  }
  
  .header-placeholder {
    height: 80px;
    display: none;
  }
  
  /* Logo */
  
  .img {
    height: 40px;
    float: left;
    margin-top: 0px;
    width: 50px;
    height: 51px;
  }
  
  .header .header-limiter h1 {
    float: left;
    font-family: "Righteous", cursive;
    line-height: 40px;
    margin-top: 0px;
    font-size: 40px;
  }
  
  .header .header-limiter h1 span {
    color: #a1caf1;
  }
  
  /* The nav bar */
  
  .header .header-limiter nav {
    font: 22px Arial, Helvetica, sans-serif;
    line-height: 40px;
    float: right;
    margin-top: 0px;
    margin-left: 300px;
  }
  
  .header .header-limiter nav ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}

.header .header-limiter nav ul li{
    background: #816797;
    position: relative;
    list-style: none;
    display: inline-block;
}


  .header .header-limiter nav ul li a {
    display: block;
    padding: 0 5px;
    text-decoration: none;
    color: #ffffff;
    opacity: 0.9;
    line-height: 50px;
  }
  
  .header .header-limiter nav ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
  }

  .header .header-limiter nav ul ul{
    position: absolute;
    top: 50px;
    display: none;
}

  .header .header-limiter nav ul li:hover > ul{
    display: block;
}

.header .header-limiter nav ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
    font-size: 20px;
    text-align: left;
    margin-left: 2px;
}

body
{
    background-color:rgb(210,210,210);
}

#container
{
    width:84%;
    margin:4%;
    padding:4%;
    background-color:white;
    border-radius:5px;
    box-shadow: 5px 10px 10px rgb(170,170,170);
    text-align:center;
}

#logo
{
    font-size:20px;
}

#gp_container
{
    height:30px;
    width:88%;
    margin:3%;
    text-align:right;
    color: grey;
    font-size:200%;
    padding:3%;
    border-radius:4px;
    border-style:none;
    background-color:rgb(230,230,230);
}

.title7
{
    position:absolute;
    left:13%;
    font-weight:600;
    font-size: 1.3em;
    color:black;
}

.title8
{
    position:absolute;
    left:45%;
    font-weight:600;
    font-size: 1.3em;
    color:black;
}

#GPA
{
    position:absolute;
    left:8%;
    width: 300px;
    border-radius:4px;
    outline:none;
    margin:5px;
    flex: 0 1 auto;
    height: 2.5rem;
    padding: 0 0 0 0.75rem;
    outline: none;
    color: #0D2451;
    background-color: transparent;
    border: 2px solid black;
    font-size: 1rem;
    font-weight: 700;
}

#GPA:focus
{
    border:2px solid orange;
}

#GPA::placeholder
{
    color:black;
    font-weight:700;
}

#previous_credits
{
    position:absolute;
    left: 39.8%;
    width: 300px;
    border-radius:4px;
    outline:none;
    margin:5px;
    height: 2.5rem;
    padding: 0 0 0 0.75rem;
    outline: none;
    color: #0D2451;
    background-color: transparent;
    border: 2px solid black;
    font-size: 1rem;
    font-weight: 700;
    
}

#previous_credits:focus
{
    border:2px solid orange;
}

#previous_credits::placeholder
{
    color:black;
    font-weight:700;
}

#course_code
{
    position:absolute;
    left:8%;
    width: 300px;
    border-radius:4px;
    outline:none;
    margin:5px;
    flex: 0 1 auto;
    height: 2.5rem;
    padding: 0 0 0 0.75rem;
    outline: none;
    color: #0D2451;
    background-color: transparent;
    border: 2px solid black;
    font-size: 1rem;
    font-weight: 700;
}

#course_code:focus
{
    border:2px solid orange;
}

#course_code::placeholder
{
    color:black;
    font-weight:700;
}



.title1
{
    position:absolute;
    left:17%;
    font-weight:600;
    font-size: 1.3em;
}

.title2
{
    position:absolute;
    left:48%;
    font-weight:600;
    font-size: 1.3em;
}

.title3
{
    position:absolute;
    right: 17%;
    font-weight:600;
    font-size: 1.3em;
}

.title4
{
    position:absolute;
    left:15%;
    font-weight:600;
    font-size: 1.3em;
    color:black;
}

.title5
{
    position:absolute;
    left:46%;
    font-weight:600;
    font-size: 1.3em;
    color:black;
}

.title6
{
    position:absolute;
    right: 17%;
    font-weight:600;
    font-size: 1.3em;
    color:black;
}

#credit
{
    position:absolute;
    left: 39.8%;
    width: 300px;
    border-radius:4px;
    outline:none;
    margin:5px;
    height: 2.5rem;
    padding: 0 0 0 0.75rem;
    outline: none;
    color: #0D2451;
    background-color: transparent;
    border: 2px solid black;
    font-size: 1rem;
    font-weight: 700;
    
}

#credit:focus
{
    border:2px solid orange;
}

#credit::placeholder
{
    color:black;
    font-weight:700;
}

#grade
{
    position:absolute;
    right:8%;
    width: calc(40.33333% - 1rem);
    max-width: calc(40.33333% - 1rem);
    max-width: 400px;
    border:2px solid black;
    width:7cm;
    height: 2.5rem;
    margin: 0;
    padding: 0 0.75rem;
    outline: none;
    color: #030303;
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    border-radius: 4px;
    margin-top: 5px;

}

#grade:focus
{
    border:2px solid orange;
}

#add_btn
{
    height:32px;
    padding:5px;
    border-radius:4px;
    box-shadow:3px 3px 6px rgb(170,170,170);
    background-color:orange;
    color:black;
    border-style:none;
    outline:none;
    float:left;
    font-weight:bold;
    border-style:none;
    font-size:110%;
}

#add_btn:hover
{
    background-color: #005AFF;
}


#added_courses_header
{
    font-size: 1.3em;
    color:black;
    
}

#new_course
{
    padding:5%;
    border-radius:5px;
    background-color:rgb(210,210,210);
}

#new_course_code
{
    float:left;
    margin-left: 4%;
    font-weight:500;
    font-size: 1.3em;
}

#new_credit
{
    margin-left:34%;
    font-weight:500;
    font-size: 1.3em;
}

#new_grade
{
    margin-left:38%;
    font-weight:500;
    font-size: 1.3em;
}

#p
{
    float:right;
    margin-right:0;
    color:red;
    font-size:120%;
    font-weight:700;
}

#total_points
{
    display: none;
}

#total_credits
{
    display: none;
}

#total_GPA
{
    display: none;
}

#total_previous_credits
{
    display: none;
}

#clear_btn
{
    height:32px;
    padding:5px;
    border-radius:4px;
    box-shadow:3px 3px 6px rgb(170,170,170);
    background-color: #D21404;
    color:whitesmoke;
    border-style:none;
    outline:none;
    float:left;
    font-weight:bold;
    border-style:none;
    font-size:110%;
    margin-left: 48%;
}

#clear_btn:hover
{
    background-color:#8B008B;
}

.display-none
{
    display: none;
}

footer{
    width: 100%;
    padding-bottom: 10px;
    background-color: #816797;
    background-size: cover;
    
    /*background-color: #d0f0f8;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer1{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}


.box__footer1 .logo img{
    width: 180px;
    height: 180px;
    padding: 10px;
}

.box__footer1 .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    padding-top: 10px;
}

.box__footer1 h3
{
    padding-bottom: 10px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.box__footer h2{
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #ffffff;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fa{
    font-size: 20px;
}

.box__footer a:hover
{
    color: #030303;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #ffffff;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #ffffff;
}
